mixin img(src,base64,classNames)
    if(base64)
        img(src=base64 class=classNames)
    else
        if(isWxApp)
            img(src='../../image/'+src class=classNames)
        else
            img(src='./image/'+src class=classNames)