include ./../pug_include/head

doctype html
html
    head
        +header('测试页面','index')
    body

        view(class='top box_h center_s')
            view(class='top_left') 1
            view(class='top_center boxflex1') 测试页面
            view(class='top_right') x

        view(class='main')
            view(class='item diandian') 撒的发生快乐大家疯狂拉升京东方
            view(class='item diandian') 撒的发生快乐大家疯狂拉升京东方
            view(class='item') 撒的发生快乐大家疯狂拉升京东方
            view(class='item') 撒的发生快乐大家疯狂拉升京东方
            view(class='item') 撒的发生快乐大家疯狂拉升京东方
            view(class='item') 撒的发生快乐大家疯狂拉升京东方
            view(class='item') 撒的发生快乐大家疯狂拉升京东方
            view(class='item') 撒的发生快乐大家疯狂拉升京东方
            view(class='item') 撒的发生快乐大家疯狂拉升京东方
            view(class='item') 撒的发生快乐大家疯狂拉升京东方
            view(class='item') 撒的发生快乐大家疯狂拉升京东方
            view(class='item') 撒的发生快乐大家疯狂拉升京东方
            view(class='item') 撒的发生快乐大家疯狂拉升京东方
            view(class='item') 撒的发生快乐大家疯狂拉升京东方
            view(class='item') 撒的发生快乐大家疯狂拉升京东方
            view(class='item') 撒的发生快乐大家疯狂拉升京东方
            view(class='item') 撒的发生快乐大家疯狂拉升京东方
            view(class='item') 撒的发生快乐大家疯狂拉升京东方
            view(class='item') 撒的发生快乐大家疯狂拉升京东方
            view(class='item') 撒的发生快乐大家疯狂拉升京东方
            view(class='item') 撒的发生快乐大家疯狂拉升京东方
            view(class='item') 撒的发生快乐大家疯狂拉升京东方
            view(class='item') 撒的发生快乐大家疯狂拉升京东方
            view(class='item') 撒的发生快乐大家疯狂拉升京东方
            view(class='item') 撒的发生快乐大家疯狂拉升京东方

        view(class='bottom') asdkjfaskljdflkasjdflkjsadklfalskdjflkaslkdjflasjdflkas