include ./../pug_include/head

doctype html
html
    head
        +header('测试页面','index')
    body

        view(class='top box_h center_s')
            view(class='top_left' aa='{{aaa}}') {{aaa}}
            view(class='top_center boxflex1') {{aaa}}bbb
            view(class='top_right') x

        view(class='main')
            view(wx:for='{{a}}' bindtouchend='testEnd' bindtap='testFn' test='{{aaa}}' wx:for-item='ittt' wx:for-index='ids' style='opacity:1;' id='aa' name='bb' data-id='123') {{ids}}:{{ittt}}
                view(wx:for='{{dd}}' bindtouchstart='testTouch' id='{{item}}') {{aaa}}:{{item}}


        view(class='bottom' bindtap='testFn' bindlongpress='testLong') asdkjfaskljdflkasjdflkjsadklfalskdjflkaslkdjflasjdflkas