include ./../pug_include/head

doctype html
html
    head
        +header('体质评估报告','index')

        include ../pug_include/top
        include ../pug_include/img
        include ../pug_include/button
    body

        +top('国民体质监测中心')


        view(class='index_main box_scc')
            view(class='index_main_title') 请填写手机号
            view(class='index_main_form boxflex1 box_scc')
                view(class='index_main_input box_hcc')
                    input(type='tel' bindinput='inputEvent' maxlength='11' placeholder='手机号' id='phone' value='{{phone}}' class='boxflex1')
                view(class='index_main_input box_hcc')
                    input(type='text' bindinput='inputEvent' maxlength='5' placeholder='图形码' id='yzm' value='{{yzm}}' class='boxflex1')
                    +img('','{{img_yzm}}','index_yzm','changeYZM')
                view(class='index_main_input box_hcc')
                    input(type='text' bindinput='inputEvent' maxlength='5' placeholder='验证码' id='sms' value='{{sms}}' class='boxflex1')
                    view(class='index_main_sms {{sending}}' bindtap='sendSms') {{smsShowText}}


        +button('下一步','submitData')